.song-playlist{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 40%;
    background-color: #121212;
    border-radius: 20px;
    padding: 20px;
    max-height: 500px;
    overflow-y: auto;
    min-height: 100vh;

    &::-webkit-scrollbar {
        width: 4px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #505050;
        border-radius: 4px;
        transition: background-color 0.3s ease;
    }
    &::-webkit-scrollbar-track {
        top: 10px;
        background-color: #282828;
    }
    &::-webkit-scrollbar-thumb:hover {
        background: #6d6d6d;
    }
}

.playlist-name{
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
}

.button-save{
    background-color: #1ed760;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    align-self: center;
}

.button-save:hover{
    background-color: white;
    color: #1ed760;
}
